@import 'common.scss';
@import 'colors.scss';

.wrapper {
  display: flex;
  font-family: $primaryFont;
  font-weight: $mediumFontWeight;
  font: $text14Regular;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  color: $primary90;
}
.secondary {
  color: $grey70;
}
.success {
  color: $success70;
}
.danger {
  color: $danger90;
}

.dotFlashing {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background-color: $primary90;
  color: $primary90;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .3s;
}

.dotFlashing::before, .dotFlashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dotFlashing::before {
  left: -25px;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background-color: $primary90;
  color: $primary90;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dotFlashing::after {
  left: 25px;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background-color: $primary90;
  color: $primary90;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: $primary90;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}